/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color:#003C53;
    color: white;
    padding: 1em;
    text-align: center;
}


nav a {
    margin: 0 1em;
    text-decoration: none;
    color: white;
}

.content {
    max-width: 800px;
    margin: 2em auto;
    padding: 0 1em;
}
.button {
      display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border: 2px solid #3498db;
      border-radius: 5px;
      color: #003C53;
      background-color: #fff;
      transition: background-color 0.3s, color 0.3s;
    }


    .button:hover {
      background-color: #003C53;
      color: #fff;
    }

footer {
    background-color: #003C53;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
 */

.navmain {

    width: 100%;
    background-color: white;
    padding: 5px;

}


.head {
    /* background-color:beige; */
    /* height: 50px; */
    /* width: 100%; */
    gap: 60px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    /* position: fixed; */
    /* justify-content: space-evenly; */

    /* margin-top: 1%; */

}

.btnhead {
    background-color: #322161;
    width: 100px;
    padding: 8px;
    margin-left: 250px;
    border-radius: 7px;
    color: aliceblue;
}

.maincont {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;

}

.chilcon {
    margin-left: 8px;
    width: 30vw;

}

.maincont2 {
    margin-top: 4%;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.stillheading {
    margin-left: 3%;
    margin-top: 7%;

}

.mintinghead {
    margin-top: 5%;
}

.stillmain {
    word-spacing: 9px;
    font-family: Arial, Helvetica, sans-serif;
    /* justify-content: space-around; */
    margin-top: 5%;
    margin-left: 11%;
}

.foothead {
    /* text-align: center; */
    padding: 100px;
    background-color: #4739b3;
    color: white;
    height: 300px;
}

/* 
.contmain{
 align-items: center;
gap: 15%;
margin-top: 1%;
} */

.forminp {
    width: 300px;
    height: 100px;
    /* border: 2px solid;     */
}

.inpbor {
    width: 500px;

}

.getintouchhead {
    margin-top: 7%;
}

.chainlinkpara {
    width: 1000px;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

.chainlinkhead {
    margin-top: 7%;
}

.ccipimg {
    margin-top: 7%;
    width: 100%;
}

.contactinfomain {
    margin-top: 7%;
    gap: 20px;
display: flex;

    justify-content: center;
    /* margin-left: 12%; */
    /* margin-right: 24%; */
    margin-bottom: 7%;
}

.contactinfoinp {

    text-align: center;
    border-radius: 50px;
    border: 2px solid;
    width: 30vw;
    height: 50px;
}

.contactinfobtn {
    padding: 10px;
    width: 70px;
    border-radius: 100px;
    background-color: #322161;
    color: white;
}

.emailpara {
    margin-left: 900px;
}

.footchild {
    justify-content: center;
    gap: 60px;
    font-size: 20px;
    align-items: center;
    /* margin-left: 100px; */
}

.footchild2 {
    margin-top: 50px;
}